<!DOCTYPE html>
<html ng-app="students-app">

<head>
    <title>vipul@swabhavtech</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-app/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="studentapi.css">
    <script src="https://code.angularjs.org/1.5.1/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.1/angular-route.js"></script>
    <script src="controllers.js"></script>
    <script src="loginService.js"></script>
    <script src="dataService.js"></script>
    <script src="students-app.js"></script>
    <script src="genderfilter.js"></script>
</head>

<body><header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">STUDENT-SPA</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#students">Home</a>
                </li>
                <li>
                    <a href="#add">Add Student</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">{{username}}</p>
                </li>
                <li>
                    <a href="#login" ng-show="!sessionState" ng-model="loginBtn">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <a href="#logout" ng-show="sessionState" ng-model="logoutBtn">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <div ng-view>
    </div>
</body>

</html>