.button {
    background-color: #767a75;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
